@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #F8F7F4;
  font-family: Georgia, serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1F5E3B;
  border-radius: 10px;
}
